@import "_normalize.scss";
@import "_layout.scss";
@import url('https://fonts.googleapis.com/css?family=Arvo|Open+Sans:400,600|Roboto:100,500,700,900&subset=cyrillic');
$main-font:'Open Sans', sans-serif;
$title-font:'Arvo', serif;
$form-font:'Roboto', sans-serif;
$primary-color:#9e9e9e;
$title-color:#212121;

body{
	font:400 14px/1.55 $main-font;
	color:$primary-color;
}
h1,h2,h3,h4,h5,h6 {
	font:400 36px/1.1 $title-font;
	color: $title-color;
	margin: 0;
}
/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1150px;
}

/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	line-height: 50px;
	font:700 12px/51px $form-font;
	color:#292929;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 50px;
	border-radius: 23px;
	border:1px solid #fff;
	&+& {
		margin-left: 20px;
	}

}
.ba-button--buy{
	background: #FFC80A;
	&:hover{
		border-color: #FFC80A;
		background-color: #fff;
	}
}
.ba-button--detail:hover{
	background-color: #FFC80A;
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	font-size: 13.56px;
	color:#2c2c2c;
	line-height: 26px;
	padding: 10px;
	border:0;
	border-bottom: 1px solid #ccc;
	&:focus{
	border-bottom: 2px solid #ccc;
	outline: 0;
	}
}
textarea {

}
.ba-header {
	position: relative;
	min-height: 100vh;
		&__bar {
	display: flex;
	justify-content: space-between;
	height: 61px;
	align-items: flex-end;
	padding-left: 54px;
	}
}
.ba-nav {
	display:flex;
	padding-left: -60px;
	&__item{
		list-style: none;
		padding-left:60px;
		& a{
			text-decoration: none;
			font:400 12px/41px $form-font;
			color:  #9fa3a7;
			text-transform: uppercase;
			letter-spacing: 0.24em;
			&:hover{
				font-weight: 700;
				color:#757575;
			}
		}
		& .ba-active-link{
	font-weight: 700;
	color:#757575;
		}
	}
}
.ba-intro {
	padding: 165px 0 165px 0;

	&__description {
	padding:0 137px 0 54px;
	& p {
		margin: 0;
		margin-bottom: 40px;
		}
	}
}
.ba-title {
	color:  #292929;
	margin-bottom: 30px;

}
.ba-scroll {
	position: absolute;
	left:50%;
	bottom: 11px;
	transform:translateX(-16px);
	&:hover{
		transform: translate(-16px,-10px);
	}
}
.ba-description {
	padding: 165px 0;
	&__left{
		padding-left: 148px;
		padding-right: 10px;
	}
	&__title {
		line-height: 46px;
	}
	&__right {
		padding:0 130px 0 57px;
	}
	&__sub{
		padding-left:40px;
		& p {
			line-height: 26px;
			padding-right: 40px;
		}
	}
	&__subtitle {
		font-size: 22px;
		color: #353535;
	}

}
.ba-row--line{
	position: relative;
	padding-bottom: 40px;
	&:after {
	content:'';
	width:70%;
	position: absolute;
	left: 10%;
	border:1px solid #d1d1d1;
	bottom: 5px;
	}
}
.ba-row--flex{
	display: flex;
	align-items: flex-start;
}
.ba-circle {
	width: 60px;
	height: 60px;
	background-color:#FFC80A;
	flex-shrink: 0;
	& img {
		transform: translate(20px,-5px);
	}
}
.ba-characteristics {
	padding:124px 0 184px;
	background:#fff url(../img/r2d2.jpg) no-repeat 100% 50%;
	&__description {
		padding-left: 148px;
		max-width: 557px;
		& p {
			line-height: 28px;
		}
	}
	&__title {
		margin-bottom: 40px;
	}
}
.ba-reviews {
	padding: 150px 0 50px;
	position: relative;
	text-align: center;
	&__article {
		color:#2c2c2c;
		font-size: 36px;
		font-family: $title-font;
		max-width: 777px;
		margin: 0 auto;
		text-align: left;
	}
	& svg {
		position:absolute;
		top: 80px;
		left: 50%;
		transform:translateX(20.5px);
	}
	& h5 {
		font-size: 21.97px;

	}
	& h6 {
		font-size: 11.96px;
		color:  #9fa3a7;
		text-transform: uppercase;
		font-family: $form-font;
	}
}
.ba-slider {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__item	{
	width: 170px;
	height: 170px;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		transform: scale(1.5);
	}

	}
}
.ba-slider__item--active {
	position: relative;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	&:hover{
		transform: scale(1);
	}

	&:after {
		position: absolute;
		content:'';
		bottom: 0;
		width: 80%;
		border: 3px solid #f9593a;
	}
}
.ba-purchase {
	padding: 100px 0 170px;
	&__title{
		font-size: 32.18px;
		color:#292929;
		max-width: 272px;
	}
	&__price{
		font-size: 79.99px;
		font-family: $form-font;
		color: #2c2c2c;
	}
}
.ba-buy-form {
	display: flex;
	flex-direction: column;
	&__label {

		display: inline-flex;
		justify-content: flex-end;
		& input {
			flex-basis: 320px;

		}
	}
}
.ba-footer {
	padding: 20px 0;
	&__bar	{
		display: flex;
		align-items: center;

	}
}
.ba-about-list {
	display: flex;

	&__item {
		list-style: none;
		padding-left: 28px;
		& a {
			font:900 11.55px/46px $form-font;
			color:  #6c6c6c;
			text-decoration: none;
			letter-spacing: 0.24em;
			text-transform: uppercase;
		}

	}
}
.ba-refs-list {
	display: flex;

	&__item {
		list-style: none;
		padding-left: 28px;
		& a {
			text-decoration: none;
		}

	}
}
